In [ ]:
from pyspark .sql import SparkSession  #SparkSession  is object that you allow all
                                        #maked DataFrame  ,read CSV/JSON/Parquet , run SQL
                                        #  perfrom Transformations/Actions ,start Spark engine
                                        #  that's why import SparkSession class

from pyspark .sql import  functions as F  #  this import all F.agg() F.lower() F.upper()  F.when()
                                          # acess with short name

In [ ]:
data = [
    (1,"kessiy", 150, "2023-10-01"),
    (2, "bob",200, "2023-10-01"),
    (1, "john",300, "2023-10-02"),
    (3, "swapi",450, "2023-10-02"),
    (2,"karan", 120, "2023-10-03"),
    (3, "arjun",250, "2023-10-03")
]

In [ ]:
# Spark Session create karo
spark = SparkSession.builder.appName("MyApp").getOrCreate()    #  start  spark engine # my log name is see and
                                                              #developer is identify with app or log name
                                                           # before session get or return otherwise create new session

In [ ]:
# convert  in dataframeaa
df = spark.createDataFrame(data ,["id", "Name","amount", "date"])
df.show()        # ye bhi use kar sakte hai  df.createOrReplaceTempView("friend")

+---+------+------+----------+
| id|  Name|amount|      date|
+---+------+------+----------+
|  1|kessiy|   150|2023-10-01|
|  2|   bob|   200|2023-10-01|
|  1|  john|   300|2023-10-02|
|  3| swapi|   450|2023-10-02|
|  2| karan|   120|2023-10-03|
|  3| arjun|   250|2023-10-03|
+---+------+------+----------+

In [ ]:
## Group by CustomerID and sum the TransactionAmount
Total_spend=df.groupBy("id")\
.agg(F.sum("amount")) .alias("Totalspend")

In [ ]:
Total_spend.show()

+---+-----------+
| id|sum(amount)|
+---+-----------+
|  1|        450|
|  2|        320|
|  3|        700|
+---+-----------+

In [ ]:
# Filter customers who spent more than 500
high_spend = df.filter(" amount > 400")

# Show the result
high_spend.show()

+---+-----+------+----------+
| id| Name|amount|      date|
+---+-----+------+----------+
|  3|swapi|   450|2023-10-02|
+---+-----+------+----------+

In [ ]:
sorted= df.orderBy(F.col("amount").desc())
sorted.show()

+---+------+------+----------+
| id|  Name|amount|      date|
+---+------+------+----------+
|  3| swapi|   450|2023-10-02|
|  1|  john|   300|2023-10-02|
|  3| arjun|   250|2023-10-03|
|  2|   bob|   200|2023-10-01|
|  1|kessiy|   150|2023-10-01|
|  2| karan|   120|2023-10-03|
+---+------+------+----------+

In [ ]:
def total_spend_by_customer(df):
    total_spend= df.groupBy("iD") \
        .agg(F.sum("amount").alias("TotalSpent"))

    return total_spend

# Call the function
result_df = total_spend_by_customer(df)
result_df.show()

+---+----------+
| iD|TotalSpent|
+---+----------+
|  1|       450|
|  2|       320|
|  3|       700|
+---+----------+